<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>Films : ajouter un film</title>
</head>

<body>

    <h1>Ajouter un film</h1>
    <form action="/add-movie" method="post">
        Titre: <input type="text" name="title"><br>
        Année: <input type="text" name="year"><br>
        Acteurs: <input type="text" name="actors"><br>
        Résumé: <textarea name="plot"></textarea><br>
        Affiche: <input type="text" name="poster"><br>
        <input type="submit" value="Ajouter">
    </form>
</body>

</html>